[Unit]
Description=Check Scout daily issues every half hour from 09:30 to 12:30 Beijing

[Timer]
OnCalendar=*-*-* 09:30:00 Asia/Shanghai
OnCalendar=*-*-* 10..12:00,30:00 Asia/Shanghai
Persistent=false
AccuracySec=1s
RandomizedDelaySec=0
Unit=scout-send.service

[Install]
WantedBy=timers.target
